ChessClient/Connected Services/ServiceChess/ServiceChess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceChess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceChess_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChessClient" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceChess_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_SendMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMsg" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_Move_InputMessage">
    <wsdl:part name="parameters" element="tns:Move" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_Surrender_InputMessage">
    <wsdl:part name="parameters" element="tns:Surrender" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_Ready_InputMessage">
    <wsdl:part name="parameters" element="tns:Ready" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_Draw_InputMessage">
    <wsdl:part name="parameters" element="tns:Draw" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_CancelDraw_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelDraw" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_UpdateColor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateColor" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_MsgCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MsgCallback" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_ChangeColor_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ChangeColor" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_Start_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_DrawOffer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DrawOffer" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_DrawUser_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DrawUser" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_MoveUser_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MoveUser" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_SurrenderUser_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SurrenderUser" />
  </wsdl:message>
  <wsdl:portType name="IServiceChess">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/Connect" message="tns:IServiceChess_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/ConnectResponse" message="tns:IServiceChess_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/Disconnect" message="tns:IServiceChess_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/DisconnectResponse" message="tns:IServiceChess_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/SendMsg" message="tns:IServiceChess_SendMsg_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Move">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/Move" message="tns:IServiceChess_Move_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Surrender">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/Surrender" message="tns:IServiceChess_Surrender_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ready">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/Ready" message="tns:IServiceChess_Ready_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Draw">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/Draw" message="tns:IServiceChess_Draw_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelDraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/CancelDraw" message="tns:IServiceChess_CancelDraw_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/UpdateColor" message="tns:IServiceChess_UpdateColor_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MsgCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/MsgCallback" message="tns:IServiceChess_MsgCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeColor">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/ChangeColor" message="tns:IServiceChess_ChangeColor_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/Start" message="tns:IServiceChess_Start_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="DrawOffer">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/DrawOffer" message="tns:IServiceChess_DrawOffer_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="DrawUser">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/DrawUser" message="tns:IServiceChess_DrawUser_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveUser">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/MoveUser" message="tns:IServiceChess_MoveUser_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SurrenderUser">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/SurrenderUser" message="tns:IServiceChess_SurrenderUser_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceChess" type="tns:IServiceChess">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceChess_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/SendMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Move">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/Move" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Surrender">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/Surrender" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Ready">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/Ready" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Draw">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/Draw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CancelDraw">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/CancelDraw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateColor">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/UpdateColor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MsgCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/MsgCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeColor">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/ChangeColor" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/Start" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrawOffer">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/DrawOffer" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrawUser">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/DrawUser" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveUser">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/MoveUser" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SurrenderUser">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/SurrenderUser" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceChess">
    <wsdl:port name="NetTcpBinding_IServiceChess" binding="tns:NetTcpBinding_IServiceChess">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-D2GIMUC\Alexander</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>